[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/klaustopher/dotbot-brew.git
[submodule "dotbot-sudo"]
	path = dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "ruby/rbenv.symlink/plugins/rbenv-default-gems"]
	path = ruby/rbenv.symlink/plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
